ul.head_container  {
    display:inline;
    //float:right;
}

ul.head_container > li {
    display: inline;
   // float:right;
}

#home_options{

    margin-left:30%;
    margin-top:15%;
}

.centered {
    margin-left:67%;
    /*float:right;*/
}

.right_table{
    margin-left:15%;
    float:left;
    margin-bottom:2%;
}

.left_table{
    margin-left:5%;
    float:left;
    margin-bottom:2%;
}

td.bug_field_title{
    text-align:right;
}

#bug_heading{

    margin-left:4%;
}

#bug_description{
    clear:both;
    width:100%;
    border:3px solid;
    margin-top:2%;
}

#bug_details{

    margin-top:2%;
    padding-bottom:2%;
}

#bug_comments{
    width:63%;
}

.comment_box{
    border:1px solid;
    margin:2%;
    padding:1%;
}

.new_comment{
    width:63%;
    margin:2%;
}
