body {

}
ul.head_container  {
    display:inline;
}

ul.head_container > li {
    display: inline;
}

.maincontent {

    margin-left:10%;
    margin-top:15%;
    padding-bottom:100px;
    padding-left:2%;
    margin:2%;
    border:1px solid;

}

.title_bar {
    margin-left:2%;
}

.options_bar {
    margin:0%;
}
.right_table{
    margin-left:15%;
    float:left;
    margin-bottom:2%;
}

.left_table{
    margin-left:5%;
    float:left;
    margin-bottom:2%;
}

td.bug_field_title{
    text-align:right;
}

#bug_heading{

    margin-left:4%;
}

#bug_description{
    clear:both;
    width:80%;
    border:3px solid;
    margin:2%;
}

#bug_details{

    margin-top:2%;
    padding-bottom:2%;
}

#bug_comments{
    width:63%;
}

.comment_box{
    border:1px solid;
    margin:2%;
    padding:1%;
}

.new_comment{
    width:63%;
    margin:2%;
}

#footer{
    margin-left:2%;
}