.nav-responsive {
	text-align: right

}

.container {
	max-width: 90%;
}

/*
input, select {
	width: 86%;
}
*/

input #bug_title {
	max-width: 80%;
}

textarea {
	min-width: 100%;
	height: 500px;
}

#mybugsummary {
	min-width: 100%;
}

#bugcomment {
	max-width: 100%;
}