{{define "base"}}<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/grid.css">
	<link rel="stylesheet" href="/static/concise.css">

<head>
<body>
    <header class="clearfix">
      <div class="container">
        <div class="intro">
          <a href="/grid"><h1>Bugspad</h1></a>
        </div>
      </div>
      {{ template "navbar" . }}
    </header>
	{{template "body" .}}
	<footer>
	</footer>
</body>
</html>{{end}}