{{define "base"}}
    <html>
    <head>
	<link rel="stylesheet" type="text/css" href="/resources/style.css" />
	{{template "head" .}}
    
    </head>
    <body>
	<div class="centered">
	    <ul class="head_container">
		{{if .islogged}}
		    <li> Welcome, {{ .useremail}} </li>
		    <li><a href="/logout">Logout</a></li>
		{{else}}
		    <li><a href="/login">Login</a></li>
		    <li><a href="/register">Register</a></li>
		{{end}}
	    </ul>
	 </div>
	 {{template "body" .}}
    </body>
    </html>
{{end}}