{{define "base"}}
    <html>
    <head>
	<link rel="stylesheet" type="text/css" href="/resources/style.css" />
	{{template "head" .}}
    
    </head>
    <body>
	<div class="title_bar">Bugspad - {{.pagetitle}}</div>
	    <ul class="head_container">
		<li><a href="/">Home</a></li>
		<li><a href="/filebug_product">File a Bug</a></li>
		<li><a href="#"> Search a Bug</a></li>
		<li><a href="#"> Frequent Bugs</a></li>
		{{if .islogged}}
			<li><a href="#">{{ .useremail}}</a></li>
			<li> <a href="/logout">Logout</a></li>
		    {{else}}
			<li> <a href="/login">Login</a></li>
			<li> <a href="/register">New User ?</a></li>
		    {{end}}
		 {{if .islogged}}
		    {{if .is_user_admin}}
		    <li><a href="/admin"> Admin panel</a></li>
		    {{end}}
		{{end}}
	    </ul>
	 {{template "body" .}}
    </body>
    <div id="footer">
    <center>
    Bugspad Footer
    </center>
    </div>
    </html>
{{end}}