{{define "head"}}<title>Create Bug Page</title>{{end}}
{{define "body"}}
	Hi, {{ .useremail}}
	<center>File A Bug</center>
	<form action="/filebug/" method="POST">
	    <p>Summary: <input name="bug_title" type="text"></input></p>
	    <p>Whiteboard<input name="bug_whiteboard" type="text"></input></p>
	    <p> Severity: 
		 <select name="bug_severity">
		    <option value="blocker">Blocker</option>
		    <option value="critical">Critical</option>
		    <option value="trivial">Trivial</option>
		    <option value="enhancement">Enhancement</option>
		    <option value="normal" selected>Normal</option>
		</select>
	    </p>
	    <p>Version: <input name="bug_version" type="text"></input></p>
	    <p>Hardware: <input name="bug_hardware" type="text"></input></p>
	    <p>Priority:  <select name="bug_priority">
			    <option value="high">High</option>
			    <option value="low" selected>Low</option>
			    <option value="medium">Medium</option>
			    <option value="critical">Critical</option>
			   </select>
	    </p>
	    <p>Component:  <select name="bug_component">
			        {{range $key, $val := .components}}
				    <option value={{$key}}>{{index $val 0}}</option>
				{{end}}
			   </select>
	    </p>
	    <p>Enter Bug Description Below: </p>
	    <textarea name="bug_description" rows="3" columns="20" placeholder="Bug Description"></textarea>
	    <button> File Bug </button>
	</form>
{{end}}
