{{define "head"}}<title>Admin Page</title>{{end}}
{{define "body"}}

    <div class="maincontent container-fluid">
	 	    <center><h2 id="bug_heading">Users</h2></center>
	 <p>WARNING:: Please keep atleast 1 admin user active.</p>
	<form role="form" class="form-horizontal" method="POST" name="userslist" action="/editusers/">	
	    <table id="userlist" class="table">
		    <th>Email</th>
		    <th>Name</th>
		    <th>Type</th>
		    <th>Inactive ?</th>
		{{range $key, $val := .userlist}}
		    <tr id="u{{$key}}">
			<td><a href="/edituserpage/{{$key}}">{{index $val 2}}</a></td>
			<td>{{index $val 1}}</td>
			<td>{{index $val 3}}</td>
			<td><input class="form-control" type="checkbox" {{if eq (index $val 3) ("-1")}} checked {{end}} name="inactiveusers" value="{{$key}}"></input><td>
		    </tr>
		{{end}}
	    </table>
	    <button type="submit" class="btn btn-default">Save Changes</button>
	</form>
    </div>

{{end}}