{{define "head"}}<title>Edit bug Page</title>{{end}}
{{define "body"}}
{{end}}
{{define "bugdescription"}}
    <form name="bugdetail" action="/editbugpage/" method="POST">
	    <p>Bug id: {{ .id}}</p>
	    <p>Summary: <input name="bug_title" type="text" value="{{ .summary}}"></input></p>
	    <p>Whiteboard<input name="bug_whiteboard" type="text" value="{{ .whiteboard}}"></input></p>
	    <p> Severity: 
		 <select name="bug_severity">
		    <option value="blocker" {{if eq .severity "blocker"}} selected {{end}}>Blocker</option>
		    <option value="critical" {{if eq .severity "critical"}} selected {{end}}>Critical</option>
		    <option value="trivial" {{if eq .severity "trivial"}} selected {{end}}>Trivial</option>
		    <option value="enhancement" {{if eq .severity "enhancement"}} selected {{end}}>Enhancement</option>
		    <option value="normal" {{if eq .severity "normal"}} selected {{end}}>Normal</option>
		</select>
	    </p>
	    <p> Status: 
		 <select name="bug_status">
		    <option value="new" {{if eq .status "new"}} selected {{end}}>New</option>
		    <option value="unconfirmed" {{if eq .status "unconfirmed"}} selected {{end}}>Unconfirmed</option>
		    <option value="worksforme" {{if eq .status "worksforme"}} selected {{end}}>Works For Me</option>
		    <option value="invalid" {{if eq .status "invalid"}} selected {{end}}>Invalid</option>
		    <option value="duplicate" {{if eq .status "duplicate"}} selected {{end}}>Duplicate</option>
		    <option value="fixed" {{if eq .status "fixed"}} selected {{end}}>Fixed</option>
		 </select>
	    </p>
	    <p>Version: <input name="bug_version" type="text" value="{{ .version}}"></input></p>
	    <p>Hardware: <input name="bug_hardware" type="text" value="{{ .hardware}}"></input></p>
	    <p>Priority:  <select name="bug_priority">
			    <option value="high" {{if eq .priority "high"}} selected {{end}}>High</option>
			    <option value="low" {{if eq .priority "low"}} selected {{end}}>Low</option>
			    <option value="medium" {{if eq .priority "medium"}} selected {{end}}>Medium</option>
			    <option value="critical" {{if eq .priority "critical"}} selected {{end}}>Critical</option>
			   </select>
	    </p>
	    
	    <p>Component:  {{ .component}}</p>
	    <p>Sub Component:  {{ .subcomponent}}</p>
	    <p>Reporter: {{ .reporter}}</p>
	    <p>Reported: {{ .reported}}</p>
	    <p>QA: {{ .qa}}</p>
	    <p>Docs: {{ .docs}}</p>
	    <p>Fixed in Version: <input name="bug_fixedinver" type="text" value="{{ .fixedinver}}"></input></p>
	    <input name="bug_id" value="{{ .id}}" type="hidden"></input>
	    <p>Bug Description: {{ .description}}</p>
	    <button> Save Changes </button>
    </form>
{{end}}