{{define "head"}}<title>Edit bug Page</title>{{end}}
{{define "body"}}
{{end}}
{{define "bugdescription"}}
    <form name="bugdetail" action="/editbugpage/" method="POST">
	    <table>
		<tr>
		    <td class="bug_field_title">Bug - {{ .id}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Summary:</td>
		    <td><input name="bug_title" type="text" value="{{ .summary}}"></input></td>
		</tr>
		<tr>
		    <td class="bug_field_title">Whiteboard:</td>
		    <td><input name="bug_whiteboard" type="text" value="{{ .whiteboard}}"></input></td>
		<tr>
		    <td class="bug_field_title"> Severity: </td>
		    <td>
			<select name="bug_severity">
			    <option value="blocker" {{if eq .severity "blocker"}} selected {{end}}>Blocker</option>
			    <option value="critical" {{if eq .severity "critical"}} selected {{end}}>Critical</option>
			    <option value="trivial" {{if eq .severity "trivial"}} selected {{end}}>Trivial</option>
			    <option value="enhancement" {{if eq .severity "enhancement"}} selected {{end}}>Enhancement</option>
			    <option value="normal" {{if eq .severity "normal"}} selected {{end}}>Normal</option>
			</select>
		    </td>
		</tr>
		<tr>
		    <td class="bug_field_title"> Status:</td>
		    <td>
			<select name="bug_status">
			    <option value="new" {{if eq .status "new"}} selected {{end}}>New</option>
			    <option value="unconfirmed" {{if eq .status "unconfirmed"}} selected {{end}}>Unconfirmed</option>
			    <option value="worksforme" {{if eq .status "worksforme"}} selected {{end}}>Works For Me</option>
			    <option value="invalid" {{if eq .status "invalid"}} selected {{end}}>Invalid</option>
			    <option value="duplicate" {{if eq .status "duplicate"}} selected {{end}}>Duplicate</option>
			    <option value="fixed" {{if eq .status "fixed"}} selected {{end}}>Fixed</option>
			</select>
		    </td>
		</tr>
		<tr>
		    <td class="bug_field_title">Version: </td>
		    <td><input name="bug_version" type="text" value="{{ .version}}"></input></td>
		</tr>
		<tr>
		    <td class="bug_field_title">Hardware: </td>
		    <td><input name="bug_hardware" type="text" value="{{ .hardware}}"></input></td>
		<tr>
		    <td class="bug_field_title">Priority:</td>
		    <td><select name="bug_priority">
				<option value="high" {{if eq .priority "high"}} selected {{end}}>High</option>
				<option value="low" {{if eq .priority "low"}} selected {{end}}>Low</option>
				<option value="medium" {{if eq .priority "medium"}} selected {{end}}>Medium</option>
				<option value="critical" {{if eq .priority "critical"}} selected {{end}}>Critical</option>
			    </select>
		    </td>
		</tr>
		<tr>
		    <td class="bug_field_title">Component:</td>
		    <td>{{ .component}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Sub Component:</td>
		    <td>{{ .subcomponent}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Reporter:</td>
		    <td> {{ .reporter}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Reported:</td>
		    <td> {{ .reported}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">QA: </td>
		    <td>{{ .qa}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Docs:</td>
		    <td> {{ .docs}}</td>
		</tr>
		<tr>
		    <td class="bug_field_title">Fixed in Version: </td>
		    <td><input name="bug_fixedinver" type="text" value="{{ .fixedinver}}"></input></td>
		<input name="bug_id" value="{{ .id}}" type="hidden"></input>
		<tr>
		    <td class="bug_field_title">Bug Description:</td>
		    <td> {{ .description}}</td>
		</tr>
	    </table>
	    <button> Save Changes </button>
	</form>
{{end}}