{{define "head"}}<title>Admin Page</title>{{end}}
{{define "body"}}

    <div class="maincontent">
	<form name="componentdetail" action="/editcomponentpage/" method="POST">
	    <table>
		<tr>
		    <td class="field_title">Component name: </td>
		    <td><input name="componentname" type="text" value="{{ .component_name}}"></input></td>
		</tr>
		<tr>
		    <td class="field_title">Description: </td>
		    <td><textarea name="componentdescription" rows="6" columns="40">{{ .component_description}}</textarea></td>	    
		</tr>
		<tr>
		    <td class="field_title">Owner: </td>
		    <td><input name="componentowner" type="text" value="{{ .component_owner}}"></input></td>
		</tr>
		<tr>
		    <td class="field_title">QA: </td>
		    <td><input name="componentqa" type="text" value="{{ .component_qa}}"></input></td>
		</tr>
	    </table>
	    <input name="componentproduct" type="hidden" value={{ .product_id}}></input>
	    <input name="componentid" type="hidden" value={{ .component_id}}></input>
	    <button>Save Changes</button>
	    <p>Subcomponents: 
		<table>
		{{range $key,$val := .component_subs}}
		    <tr>
			<td><a href="#">{{index $val 0}}</a></td>
			<td>{{$key}}</td>
		    </tr>
		{{end}}
		</table>
	    </p>
	</form> 
    </div>
{{end}}