{{define "head"}}<title>Admin Page</title>{{end}}
{{define "body"}}
    <div class="maincontent">
	<form name="productdetail" action="/editproductpage/" method="POST">
	    <table>
		<tr>
		    <td class="bug_ield_title">Product: </td>
		    <td><input name="productname" type="text" value="{{ .productname}}"></input></td>
		</tr>
		<tr>
		    <td class="bug_field_title">Description: </td>
		    <td><textarea name="productdescription" rows="6" cols="40" value="">{{ .productdescription}}</textarea></td>
		</tr>
	    </table>
	    <input name="productid" type="hidden" value="{{ .product_id}}"></input>
	    <button>Save Changes</button>
	    <form name="addcomponent" action="/addcomponent/{{ .product_id}}" method="POST">
		    <button>Add Component to this product</button>
	    </form>
	    <p>Components: 
		<table>
		{{range $key,$val := .components}}
		    <tr>
			<td><a href="/editcomponentpage/{{index $val 0}}">{{$key}}</a></td>
			<td>{{index $val 2}}</td>
		    </tr>
		{{end}}
		</table>
	    </p>

	    <p>Bugs: 
		<table>
		{{range $key,$val := .bugs}}
		    <tr>
			<td><a href="/editbugpage/{{$key}}">{{$key}}</a></td>
			<td>{{index $val 0}}</td>
			<td>{{index $val 1}}</td>
			<td>{{index $val 2}}</td>
			<td>{{index $val 3}}</td>
			<td>{{index $val 4}}</td>
			<td>{{index $val 5}}</td>
			<td>{{index $val 6}}</td>
			<td>{{index $val 7}}</td>
			<td>{{index $val 8}}</td>
			<td>{{index $val 9}}</td>
			<td>{{index $val 10}}</td>
			<td>{{index $val 11}}</td>
			<td>{{index $val 12}}</td>
			<td>{{index $val 13}}</td>
			<td>{{index $val 14}}</td>
		    </tr>
		{{end}}
		</table>
	    </p>
	</form>

    </div>
{{end}}