{{define "head"}}<title>Bug {{ .id}} - {{ .summary}}</title>{{end}}
{{define "body"}}
<div class="maincontent">
        <div id="bug_details">
	    <h2 id="bug_heading">Bug - {{ .id}} {{ .summary}}</h2>
	    <p>Select the CC entries you wish to delete
	    <form name="bugdetail" action="/editbugcc/" method="POST">
		<input type="hidden" name="bug_id" value="{{ .id}}"></input>
		<p class="field_title">CC List:</p>
		    {{range $val := .cclist}}
			    <p><input type="checkbox" name="ccentry" value="{{ index $val }}">{{ index $val }}</input></p>
		    {{end}}
		<p><label class="field_title">Add New CC<input type="text" name="newccentry"></input></label></p>
		<button>Update CC List</button>
	    </form>
	</div>
</div>
{{end}}