{{define "head"}}<title>Register Page</title>{{end}}
{{define "body"}}
<div class="maincontent">
    <h1>Register</h1>
    <form action="/register/" method="POST">
	<table>
	    <tr>
		<td>Full Name: </td>
		<td><input type="text" name="username"></td>
	    </tr>
	    <tr>
		<td>Email: </td>
		<td><input type="text" name="useremail"></td>
	    </tr>
	    <tr>
		<td>Password: </td>
		<td><input type="password" name="password"></td>
	    </tr>
	    <tr>
		<td>Reenter Password: </td>
		<td><input type="password" name="repassword"></td>
	    </tr>
	</table>
	<p><button>Register</button></p>
    </form>
</div>
{{end}}
