{{define "head"}}<title>Search Bugs</title>{{end}}
{{define "body"}}
<div class="maincontent container-fluid">
    <div id="bug_details">
	{{if .searchresult }}
	    <p><a href="/searchbugs">Another Search ?</a></p>
	    <div>
	    <p>Search Results:</p>
	    <table class="table">
	    <tr>
		<th>ID</th>
		<th>Summary</th>
		<th>Status</th>
	    </tr>
	    {{range $key,$val:= .searchbugs}}
		<tr>
		    <td><a href="/bugs/{{$key}}" class="{{if eq (index $val 0) "fixed (closed)" "notabug (closed)" "wontfix (closed)"}}closedbug{{end}}">{{$key}}</a></td>
		    <td>{{index $val 0}}</td>
		    <td>{{index $val 1}}</td>
		</tr>
	    {{end}}
	    </table>
	</div>
	{{else}}

	<form class="form-inline" role="form" id="queryform" name="queryform" action="/searchbugs/" method="post">
	   <div class="form-group">
		<label class="" for="bug_product">Product</label>
		<select multiple class="form-control" id="bug_product" name="bug_product">
			    {{range $key, $val := .products}}
				<option value={{index $val 0}}>{{$key}}</option>
			    {{end}}
		 </select>
	    </div>
	    <div class="form-group">
		<label class="" for="bug_component">Component</label>
		<select multiple class="form-control" id="bug_component" name="bug_component">
			    {{range $key, $val := .components}}
				<option value={{index $val 0}}>{{$key}}</option>
			    {{end}}
		 </select>
	    </div>
	    <div class="form-group">
		<label class="" for="bug_priority">Priority</label>
		<select multiple class="form-control" id="bug_priority" name="bug_priority">
			    <option value="high">High</option>
			    <option value="low">Low</option>
			    <option value="medium">Medium</option>
			    <option value="critical">Critical</option>
		 </select>
	    </div>
	    <div class="form-group">
		<label class="" for="bug_severity">Severity</label>
		<select multiple class="form-control" id="bug_severity" name="bug_severity">
			<option value="blocker">Blocker</option>
			<option value="critical">Critical</option>
			<option value="trivial">Trivial</option>
			<option value="enhancement">Enhancement</option>
			<option value="normal">Normal</option>
		 </select>
	    </div>
	    <div class="form-group">
		<label class="" for="bug_status">Status</label>
		<select multiple class="form-control" id="bug_status" name="bug_status">
			<option value="new" >New</option>
			<option value="unconfirmed" >Unconfirmed</option>
			<option value="worksforme" >Works For Me</option>
			<option value="invalid" >Invalid</option>
			<option value="duplicate" >Duplicate</option>
			<option value="fixed" >Fixed</option>
		 </select>
	    </div>
	    <button type="submit" class="btn btn-default">Search</button>	
	</form>
	{{end}}
	
    </div>
</div>
{{end}}