{{define "head"}}<title>Bug {{ .id}} - {{ .summary}}</title>{{end}}
{{define "body"}}
<div class="maincontent">
    {{if .islogged}}
        <div id="bug_details">
	    <h2 id="bug_heading">Bug - {{ .id}} {{ .summary}}</h2>
	    <form name="bugdetail" action="/editbugpage/" method="POST">
		<table class="left_table">
		    <tr>
			<td class="field_title">Summary:</td>
			<td><input name="bug_title" type="text" value="{{ .summary}}"></input></td>
		    </tr>
		    <tr>
			<td class="field_title">Whiteboard:</td>
			<td><input name="bug_whiteboard" type="text" value="{{ .whiteboard}}"></input></td>
		    <tr>
			<td class="field_title"> Severity: </td>
			<td>
			    <select name="bug_severity">
				<option value="blocker" {{if eq .severity "blocker"}} selected {{end}}>Blocker</option>
				<option value="critical" {{if eq .severity "critical"}} selected {{end}}>Critical</option>
				<option value="trivial" {{if eq .severity "trivial"}} selected {{end}}>Trivial</option>
				<option value="enhancement" {{if eq .severity "enhancement"}} selected {{end}}>Enhancement</option>
				<option value="normal" {{if eq .severity "normal"}} selected {{end}}>Normal</option>
			    </select>
			</td>
		    </tr>
		    <tr>
			<td class="field_title"> Status:</td>
			<td>
			    <select name="bug_status">
				<option value="new" {{if eq .status "new"}} selected {{end}}>New</option>
				<option value="unconfirmed" {{if eq .status "unconfirmed"}} selected {{end}}>Unconfirmed</option>
				<option value="worksforme" {{if eq .status "worksforme"}} selected {{end}}>Works For Me</option>
				<option value="invalid" {{if eq .status "invalid"}} selected {{end}}>Invalid</option>
				<option value="duplicate" {{if eq .status "duplicate"}} selected {{end}}>Duplicate</option>
				<option value="fixed" {{if eq .status "fixed"}} selected {{end}}>Fixed</option>
			    </select>
			</td>
		    </tr>
		    <tr>
			<td class="field_title">Version: </td>
			<td><input name="bug_version" type="text" value="{{ .version}}"></input></td>
		    </tr>
		    <tr>
			<td class="field_title">Hardware: </td>
			<td><input name="bug_hardware" type="text" value="{{ .hardware}}"></input></td>
		    <tr>
			<td class="field_title">Priority:</td>
			<td><select name="bug_priority">
				    <option value="high" {{if eq .priority "high"}} selected {{end}}>High</option>
				    <option value="low" {{if eq .priority "low"}} selected {{end}}>Low</option>
				    <option value="medium" {{if eq .priority "medium"}} selected {{end}}>Medium</option>
				    <option value="critical" {{if eq .priority "critical"}} selected {{end}}>Critical</option>
				</select>
			</td>
		    </tr>
		  </table>
		  <table class="right_table">
		    <tr>
			<td class="field_title">CC List:</td>
			<td>
			    <input name="bug_cclist" type="text" value="{{range $val := .cclist}}{{ index $val }} ,{{end}}"></input>
			</td>
		    </tr>
		    <tr>
			<td class="field_title">Component:</td>
			<td><select name="bug_component">
				{{$comp := .component}}
			        {{range $key, $val := .allcomponents}}
				    <option value={{index $val 0}} {{if eq $comp $key  }} selected {{end}}>{{$key}}</option>
				{{end}}
			   </select>
			</td>
		    </tr>
		    <tr>
			<td class="field_title">Sub Component:</td>
			<td><select name="bug_component">
				{{$subcomp := .subcomponent}}
			        {{range $key, $val := .allsubcomponents}}
				    <option value={{index $val 0}} {{if eq $subcomp $key  }} selected {{end}}>{{$key}}</option>
				{{end}}
			   </select>
			</td>
		    </tr>
		    <tr>
			<td class="field_title">Reporter:</td>
			<td> {{ .reporter}}</td>
		    </tr>
		    <tr>
			<td class="field_title">Reported:</td>
			<td> {{ .reported}}</td>
		    </tr>
		    <tr>
			<td class="field_title">QA: </td>
			<td><input name="bug_qa" type="text" value="{{ .qa}}"></input></td>
		    </tr>
		    <tr>
			<td class="field_title">Docs:</td>
			<td><input name="bug_docs" type="text" value="{{ .docs}}"></input></td>
		    </tr>
		    <tr>
			<td class="field_title">Fixed in Version: </td>
			<td><input name="bug_fixedinver" type="text" value="{{ .fixedinver}}"></input></td>
		    <input name="bug_id" value="{{ .id}}" type="hidden"></input>
		</table>
	   
		<div id="bug_description">
			<p>Bug Description:</p>
			<p> {{ .description}}</p>
		</div>
		<div id="bug_comments">
		    <h2>Comments</h2>
		    {{range $key, $val := .comment_data}}
			<div id={{ $key }} class="comment_box">
			    <i>{{ index $val 0 }}  {{index $val 1}} {{index $val 3}}</i>
			    <p>{{index $val 2}}</p>
			    <br>
			</div>
		    {{end}}
		    <textarea name="com_content" rows="5" cols="100"></textarea>
		</div>			
		 <button> Save Changes </button>
	     </form>
	</div>
    {{else}}
    <div id="bug_details">
	    <h2 id="bug_heading">Bug - {{ .id}} {{ .summary}}</h2>
	    
	<table class="left_table">

		<tr>
		    <td class="field_title">Status:</td>
		    <td>{{ .status}}</td>
		</tr>
		<tr>
		    <td class="field_title">Component:</td>
		    <td>{{ .component}}</td>
		</tr>
		<tr>
		    <td class="field_title">Sub Component:</td>
		    <td>{{ .subcomponent}}</td>
		</tr>
		<tr>
		    <td class="field_title">Quality Assurance:</td>
		    <td>{{ .qa}}</td>
		</tr>
		<tr>
		    <td class="field_title">Docs Maintainter:</td>
		    <td>{{ .docs}}</td>
		</tr>
		<tr>
		    <td class="field_title">Version:</td>
		    <td>{{ .version}}</td>
		</tr>
		<tr>
		    <td class="field_title">Hardware:</td>
		    <td>{{ .hardware}}</td>
		</tr>
		<tr>
		    <td class="field_title">Priority:</td>
		    <td>{{ .priority}}</td>
		</tr>
	</table>
	<table class="right_table">
	    <tr>
		<td class="field_title">CC List:</td>
		<td>
		    {{range $val := .cclist}}
			    {{ index $val }}
		    {{end}}
		</td>
	    </tr>
	    <tr>
		<td class="field_title">Reporter:</td>
		<td>{{ .reporter}}</td>
	    </tr>
	    <tr>
		<td class="field_title">WhiteBoard:</td>
		<td>{{ .whiteboard}}</td>
	    </tr>
	    <tr>
		<td class="field_title">Reported at:</td>
		<td>{{ .reported}}</td>
	    </tr>
	    <tr>
		<td class="field_title">Fixed in Version:</td>
		<td>{{ .fixedinver}}</td>
	    </tr>
	</table>
    </div>
    <div id="bug_description">
	<p><b>Bug Description</b></p>
	<p>{{ .description}}</p>
    </div>
    <div id="bug_comments">
	<h2>Comments</h2>
	    {{range $key, $val := .comment_data}}
		<div id={{ $key }} class="comment_box">
		    <i>{{ index $val 0 }}  {{index $val 1}} {{index $val 3}}</i>
		    <p>{{index $val 2}}</p>
		    <br>
		</div>
	    {{end}}

		<p> You need to <a href="/login">log in</a> to comment on this bug.</p>
    </div>
    {{end}}
</div>
{{end}}